/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  display: flex;
}

p {
  margin: 16px;
}

.icon-20 {
  font-size: 20px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

.container [class*='col'] {
  padding: 10px;
  flex: 1;
}

.mat-card-header-text {
  margin-left: 0;
  border-bottom: 1px solid #ffd740;
}

.header {
  padding-bottom: 10px;
  color: #673ab7;
  border-bottom: 2px solid #673ab7;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
  0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}

mat-sidenav {
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  width: 200px;
}

mat-card:not(.dashboard-card) {
  margin-bottom: 20px;
}

.mat-sidenav-container {
  background: #f5f5f5;
  flex: 1;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.dashboard-card {
  position: absolute !important;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  mat-card-header {
    justify-content: center;
  }
}

.dashboard-card-content {
  text-align: center;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.grid-container {
  margin: 20px;
}

.list-container {
  margin: 20px;
  .full-width-table {
    width: 100%;
  }
  tr {
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
  }
  tr:not(.mat-header-row):hover {
    background: whitesmoke;
    cursor: pointer;
  }
}

.details-container {
  mat-form-field {
    width: 100%;
  }
  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

mat-list-item:not(:first-of-type) {
  border-top: 1px solid #efefef;
}

mat-form-field {
  width: 100%;
}

mat-list-item:hover {
  cursor: pointer;
  background: whitesmoke;
}

mat-list-item:not(:first-of-type) {
  border-top: 1px solid #efefef;
}

.symbol {
  color: #777;
}

mat-card-actions {
  margin-bottom: 0;
}

.full-width {
  width: 100%;
}

.nav-link {
  color: rgba(0, 0, 0, 0.54);
  display: flex !important;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

// UI TOOLBAR
mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
  0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 900;
  > .mat-mini-fab {
    margin-right: 10px;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .title {
    vertical-align: middle;
  }
  .logo {
    margin-left: 20px;
    img {
      vertical-align: middle;
      width: 100px;
      height: auto;
    }
  }
}
